


<section class="create_announce_body" *ngIf="!is_instructor">
   
  <div>
    <div class="wrapper">
      <h2>CREATE ANNOUONCEMENT</h2>

        <form  (ngSubmit)="createAnnounce()" [formGroup]="announceForm">
          <div>

           
          <div class="input-box">
            <input type="text" formControlName="title" placeholder="Enter Title" required>
            <!-- <label>Enter Title</label> -->
          </div>
          <div class="input-box">
            <textarea name="" id="" placeholder="Enter Details" formControlName="description"></textarea>
          
          </div>
          <div class="input-box">
            <input type="date" formControlName="publishDate" required>
            <!-- <label>Enter date</label> -->
          </div>
          <div class="input-box">
            <label>Course</label>
            <select name="course" id="course" formControlName="course" (change)="selectedCourse($event)">
              <option *ngFor="let item of course_options" [value]="item.value">{{item.text}}</option>
              
            </select>
          
          </div>

          <div class="input-box">
            <label for="announce_department">Department</label>
            
          <select name="announce_department" id="announce_department" formControlName="department"
           (change)="selectedDept($event)">
           <option *ngFor="let item of depart_options" [value]="item.value">{{item.text}}</option>
            </select>
          </div>
          <div class="create_button">
            <input type="submit" value="Create" >
          </div>
        </div>
         
        </form>

        
          
    </div>
  </div>
   

  </section>

  
<div class="previous_announcement_container">
  <div class="announcement_item" *ngFor="let ann of ann_list">
      <h5>{{ann.title}}</h5>
      <p>{{ann.description}}</p>
      <div> 
        <p>{{ann.publish_date}}</p>
        <a (click)="deleteAnnoun(ann.aid)">Delete</a>
      </div>
  </div>
</div>
 

  
  
  
  
