<div class="all_courses_container">

    <h1>The world's largest selection of courses</h1>
    <h5>Choose from 130,000 online video courses with new additions published every month</h5>

   <div class="select_div_filter">
    <div class="category_select_div">
      <label for="categories">Select Category</label>
    <select name="categories" class="course_categories" (change)="onCategoryChange($event) ">
      <option *ngFor="let category of categories" [value]="category.cid">{{category.name}}</option>
     
      
   </select>
    </div>

  
    <div class="instructor_select_div">
      <label for="instructors">Select Instructor</label>
      <select name="instructors" class="instructors" (change)="getCourseByInstructor($event) ">
        <option *ngFor="let inst of instructors" [value]="inst.id">{{inst.name}}</option>
       
      </select>

    
    </div>
   </div>

    <div class="card_container">

        <div class="card mycard" *ngFor="let course of all_courses; let i = index" (click)="show_course_details(course.id)">
            <img src="{{course.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{course.courseName}}</h5>
              <h6>Duraton: {{course.duration}}</h6>
              <h6>₨. {{course.coursePrice}}</h6>
              <h6>Language: {{course.courseLanguage}}</h6>
              <div class="rating">
                <span class="star {{ course.rating >= 1 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 2 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 3 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 4 ? 'filled' : 'empty' }}">★</span>
                <span class="star {{ course.rating >= 5 ? 'filled' : 'empty' }}">★</span>
                <span class="star_count">({{course.ratingCount}})</span>
              </div>
              <br>
              
              <div class="edit_delete_div">
                <a (click)="edit_course(course.id)" *ngIf="isAdmin" class="btn btn-primary">Edit</a>
                <a (click)="delete_course(course.id)"   *ngIf="isAdmin"  class="btn btn-secondary">Delete</a>
                <a (click)="details_course(course.id)"   *ngIf="!isAdmin"  class="btn btn-primary">Details</a>
                <a (click)="buy_course(course.id)"   *ngIf="!isAdmin"  class="btn btn-secondary">Buy Now</a>
                
              </div>

            </div>
        </div>

       
    </div>
</div>