
$primary-color1: #0A2647;
$primary-color2:  #144272;
$primary-color3: #205295;
$primary-color4: #2C74B3;
$primary-color5: #88aac9;

.select_div_filter{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.select_div_filter>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_div_filter>div>select{
    font-size: 25px;
}
// .all_courses_container{
//     margin-bottom: 50px;
    
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.all_courses_container h1,.all_courses_container h5{

    text-align: center;
    color: $primary-color1;
    font-weight: 700;
}

.all_courses_container .card_container{

    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 20% 80%;
    // gap: 30px;
}

// .all_courses_container .card_container .sorting{

//     border: 1px solid red;
// }

.sorting {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .sorting form {
    display: flex;
    flex-direction: column;
    // display: inline-block;
    // margin-right: 20px;
  }
  
  .sorting input[type="radio"] {
    display: none; /* Hide the default radio button */
  }
  
  .sorting label {
    display: block;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sorting label:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  
  .sorting input[type="radio"]:checked + label {
    background-color: $primary-color1; /* Change background color when radio button is checked */
    color: #fff; /* Change text color when radio button is checked */
  }
  

.all_courses_container .card_container .card_container2{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


.all_courses_container .card_container .card_container2 .mycard{
    width: 15rem;
    cursor: pointer;
}

.all_courses_container .card_container .card_container2 .mycard .card-body .edit_delete_div{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    // border: 1px solid red;
}
.all_courses_container .card_container  .card_container2 .mycard .card-body .edit_delete_div a{
   flex: 1;
   margin: 10px;
}

.rating {
    display: inline-block;
    font-size: 24px;
}

.star_count{
    font-size: 15px;
}
  
.star {
color: #ccc; /* Default star color (empty) */
padding: 2px;
}
  
.star.filled {
color: gold; /* Colored star */
}

.card-img-top{
    height: 200px;
    
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
@media screen and (max-width: 650px) {
    .sorting form {
        
        flex-direction: row;
        margin-bottom: 20px;
    }
    .all_courses_container .card_container{

        border: 1px solid blue;
        display: grid;
        grid-template-columns: 1fr;
     
    }
   
   
    .all_courses_container .card_container .card_container2{

        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
        
    }

    .all_courses_container .card_container .card_container2 .mycard{
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .all_courses_container .card_container .card_container2 .mycard img{
        width: 50%;
        height: auto;
    }

    .all_courses_container .card_container .card_container2 .mycard .card-body .edit_delete_div a{
        flex: 1;
        margin: 0px;
     }


}

@media (min-width:651px) and (max-width: 830px) {
    .sorting form {
        
        flex-direction: row;
        margin-bottom: 20px;
    }
    .all_courses_container .card_container{

        border: 1px solid blue;
        display: grid;
        grid-template-columns: 1fr;
     
    }
   
    .all_courses_container .card_container .card_container2{

        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;

       
    }


}

@media (min-width:831px) and (max-width: 1000px) {
    .sorting form {
        
        flex-direction: row;
        margin-bottom: 20px;
    }
    .all_courses_container .card_container{

        border: 1px solid blue;
        display: grid;
        grid-template-columns: 1fr;
     
    }
   
    .all_courses_container .card_container .card_container2{

        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }


}

@media (min-width:1000px) and (max-width: 1270px) {
    .sorting form {
        
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .all_courses_container .card_container{

        border: 1px solid blue;
        display: grid;
        grid-template-columns: 1fr;
     
    }
   
    .all_courses_container .card_container .card_container2{

        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }


}

// @media (min-width:951px) {
//     .all_courses_container .card_container .card_container2{

//         grid-template-columns: 1fr 1fr 1fr;
//         gap: 30px;
//     }


// }