<section class="assignments">
<div class="assignment_container" *ngIf="currentAssign">
    <div class="assign_cont">
       <div class="instruction_cont">
            <h1>INSTRUCTION</h1>
            <div class="instructor_details">

                <p>{{currentAssign.instruction}}</p>
             </div>
       </div>
       <div class="problem_cont">
        <h1>{{currentAssign.title}}</h1>
        <div class="problem_details">

            <p>{{currentAssign.description}}</p>
            
        </div>
       </div>

       <div>
        <input type="url" placeholder="please provide your github link" required>
        <button>Submit</button>
       </div>

    </div>
</div>
</section>