<section class="student_dash_container">
    <div class="student_dashboard">
        <!-- <h1>Today's Schedule</h1> -->
        <!-- <div class="announcement_section">
           
            <div class="ann_item">
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               <div>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, deleniti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, eum?.
                </p>
                <p>8/30/23 - 2:27 PM</p>
               </div>
               
            </div> 
        </div> -->
        <div>
            <h1 class="text-center text-lg font-semibold">Today's Schedule</h1>
            <select name="" class="admin_course_select" (change)="onCourseSelected($event)">
                <option value="0" selected disabled>Select Course</option>
                <option *ngFor="let item of option_courses" [value]="item.value">{{item.text}}</option>
               
                
            </select>
           
        </div>
        <div class="lectures_section" *ngFor="let lecture of lecture_list">
            <div class="lecture_item">
                <div class="item_left">
                    <div>
                        <h2>{{convertDate(lecture.timing)}}</h2>
                        <h3>Lecture</h3>
                    </div>
                    <div>
                        <h2>{{lecture.topicTitle}}</h2>
                        <span>{{lecture.lecture_course_name}}</span>
                        <p> starting this at {{convertDate(lecture.timing)}}</p>
                        <div class="course_type_tag">
                            <span>{{lecture.meetingUrl}}</span>
                            <span>coding</span>
                            <span>Live</span>
                        </div>
                    </div>
                </div>
                
                <div class="item_right">
                    <p>Details</p>
                </div>
            </div>

        </div>
    </div>
</section>
<app-chatbot></app-chatbot>