
<section class="login_body" >
    <div class="wrapper">
      <!-- (ngSubmit)="adminSubmit()" -->
        <form action="#" [formGroup]="adminForm">
          <h2>Admin Panel Login</h2>
          <div class="input-field">
            <input type="text" formControlName="email" required>
            <label>Enter your Email</label>
          </div>
          <div class="input-field">
            <input type="text" formControlName="password" required>
            <label>Enter your Password</label>
          </div>
         
          <button type="submit">Login</button>
         
        </form>
      </div>
</section>


