


<section class="add_course_body">
  <div class="wrapper">
      <form (ngSubmit)="onSubmit()" [formGroup]="courseForm" enctype="multipart/form-data">
        <h2 class="form_heading">ADD COURSE</h2>
        <div class="add_course_form">
          <div>
            <div class="input-field">
              <input type="text" formControlName="courseCode" placeholder="Enter Course Code" required>
              <!-- <label>Enter Course Code</label> -->
            </div>
            <div class="input-field">
              <input type="text" formControlName="courseName" placeholder="Enter Course Name" required>
              <!-- <label>Enter Course Name</label> -->
            </div>
              <div class="input-field">
              <input type="text" formControlName="duration" placeholder="Enter Course Duration" required>
              <!-- <label>Enter Course Duration</label> -->
            </div>
            <div class="input-field">
              <input type="number" formControlName="coursePrice" placeholder="Enter Price" required>
              <!-- <label>Enter Price</label> -->
            </div>
            <div class="input-field">
              <input type="number" formControlName="rating" placeholder="Enter Rating">
              <!-- <label>Enter Rating</label> -->
            </div>
            <div class="input-field">
              <input type="number" formControlName="ratingCount" placeholder="Number of Rating">
              <!-- <label>Number of Rating</label> -->
            </div>
            <div class="input-field">
              <input type="text" formControlName="courseLanguage" placeholder="Enter Language" required>
              <!-- <label>Enter Language</label> -->
            </div>

    
          </div>
         <div>
          <div class="input-field">
            <input type="url" formControlName="image" placeholder="Enter Image Url" required>
            <!-- <label>Enter Language</label> -->
          </div>

          <div class="input-field">
            <label>Category</label>
            <select name="category" id="category" formControlName="category" (change)="selectedCategory($event)">
              <option *ngFor="let item of cate_options" [value]="item.value">{{item.text}}</option>
              
            </select>
          
          </div>
          <div class="input-field">
            <label>Instructor</label>
            <select name="Instructor" id="Instructor" formControlName="Instructor" (change)="selectedInstr($event)" >
              <option *ngFor="let item of intruc_options" [value]="item.value">{{item.text}}</option>
              
            </select>
            
          </div>
          <div class="input-field">
            <label>Department</label>
            <select name="department" id="department" formControlName="department" (change)="selectedDepart($event)">
              <option *ngFor="let item of depart_options" [value]="item.value">{{item.text}}</option>
              
            </select>
          
          </div>
          <div class="check">
            <input type="checkbox" formControlName="isAvailable">
            <label>is available</label>
          </div>
          <div class="input-field">
            <input type="number" formControlName="studentEnrolled" placeholder="Studnet Erolled">
            <!-- <label>Studnet Erolled</label> -->
          </div>
          <div class="input-field">
            <!-- <input type="text" formControlName="" required> -->
            <textarea name="description" id="description"  formControlName="description" placeholder="Enter Description" ></textarea>
            <!-- <label>Description</label> -->
          </div>
         </div>
        </div>


        <div class="create_button">
          <input type="submit" value="Create" >
        </div>
        
      </form>
    </div>
</section>



