<div class="assign_header">
    <h1 class="text-center text-lg font-semibold">Today's Schedule</h1>
    <select name="" class="admin_course_select" (change)="onCourseSelected($event)">
        <option value="0" selected disabled>Select Course</option>
        <option *ngFor="let item of option_courses" [value]="item.id">{{item.courseName}}</option>
       
        
    </select>
   
</div>

<section class="assign_header">
    <div class="assign_head_container">
        <div class="head_container" *ngFor="let assign of all_assignment">
            <div>
               <div>
                    <h2>{{assign.title}}</h2>
                    <div>
                        <span>CODING</span>
                        <span>EVALUATION</span>
                    </div>
               </div>
                <div>
                    <h6>Start Date {{assign.startDate}}</h6>
                    <h6>End Date {{assign.dueDate}}</h6>
                </div>
    
            </div>
            <div>
                <a (click)="assignmentDetails(assign.anId)">Submit</a>
            </div>
        </div>
    </div>
    
</section>