<section class="assign_header">
    <div class="assign_head_container">
        <div class="head_container" *ngFor="let assign of all_assignment">
            <div>
               <div>
                    <h2>{{assign.title}}</h2>
                    <div>
                        <span>CODING</span>
                        <span>EVALUATION</span>
                    </div>
               </div>
                <div>
                    <h6>Start Date {{assign.startDate}}</h6>
                    <h6>End Date {{assign.dueDate}}</h6>
                </div>
    
            </div>
            <div>
                <a (click)="assignmentDetails(assign.anId)">Submit</a>
            </div>
        </div>
    </div>
    
</section>