:root{
    
--prima: #0A2647;

}

.instructor_assign_container{
    margin: 5%;
}


.instructor_assign_container>div .new_assignment_container h2{

   
    text-align: center;
}

.instructor_assign_container>div .new_assignment_container .input-box input,
.instructor_assign_container>div .new_assignment_container .input-box textarea{

   
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.instructor_assign_container>div .new_assignment_container .create_button input{

    padding: 5px 10px;
    background-color: #0A2647;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}

/* .previous_assignment_container{
    margin: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
    background-color: white;

}
.previous_assignment_container .assignment_item{

    display: flex;
    flex-direction: row;

    border: 1px solid red;
    justify-content: space-between;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.previous_assignment_container .assignment_item>div>span{

    margin-left: 10px;
} */

 /*   ====================================     list  ================================ */

 .previous_assignment_container{
    margin: 3%;
    background-color: white;
  }

  .previous_assignment_container .assignment_item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #0A2647;
    height: 105px;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

  }
  .previous_assignment_container .assignment_item h5{
    color: #0A2647;
    font-weight: 700;
  }
  .previous_assignment_container .assignment_item>div{
    display: flex;
  }
  .previous_assignment_container .assignment_item>div a{
    margin-left: 20px;
    color: red;
    cursor: pointer;
  }

  .previous_assignment_container .assignment_item>div p{
    color: #0A2647;
    font-weight: 600;
    padding-bottom: 5px;
  }