
<section class="instructor_register_body">
    <div class="wrapper">
      <h2 class="form_header">INSTRUCTOR REGISTRATION FORM</h2>
        <form (ngSubmit)="instruc_regis()" [formGroup]="instructor_form">
          
          <div class="register_form_div">
            <!-- <div> -->

                <div class="input-field">
                  <label>Enter Name</label>
                    <input type="text" formControlName="name" required>
                    
                  </div>
                    <div class="input-field">
                    
                      <select name="gender" id="gender" formControlName="gender" required >
                        <option value="" selected disabled> Gender</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                        <option value="OTHER">OTHER</option>
                      </select>
                     
                  </div>
          
                  <div class="input-field">
                    <label>Teaching Experience(offline/online)</label>
                    <input type="number" formControlName="experience" required>
                    
                  </div>
                  <div class="input-field">
                    <label>Attach Resume</label>
                    <input type="file" disabled>
                   
                  </div>
                  <div class="input-field">
                    <input type="date" placeholder="Date of Birth" formControlName="dateOfBirth" required>
                    <!-- <label>Date of Birth</label> -->
                  </div>
                  <div class="input-field">
                    <label>Enter department</label>
                    <select name="department" id="department" formControlName="department" (change)="departmentSelect($event)" required >

                      <!-- <option value="0" selected disabled>Select Department</option> -->
                      <option *ngFor = "let item of option_depart" [value]="item.id">{{item.name}}</option>
                     
                    </select>

                  
                  
                </div>


              <!-- </div> -->
              
              <!-- <div> -->
                <div class="input-field">
                  <label>Qualification</label>
                    <input type="text" formControlName="qualification" required>
                   
                  </div>
                  <div class="input-field">
                    <label>Expertise</label>
                   <input type="text" formControlName="expertise" required>
                  
                  </div>
                  <div class="input-field">
                    <label>Expected salary</label>
                    <input type="number" formControlName="expectedSalary" required>
                  
                   </div>
                   <div class="input-field">
                    <label>Enter Email</label>
                    <input type="email" formControlName="email" required>
                   
                   </div>
                   <div class="input-field">
                    <label>Contact Number</label>
                    <input type="text" formControlName="contactNumber" required>
                   
                   </div>
                   <div class="input-field">
                    <label>Set a Password</label>
                    <input type="password" formControlName="password" required>
                
                   </div>
                 
              <!-- </div> -->
          </div>
          <button type="submit" class="create_button">Save</button>
          
        </form>
      </div>
  </section>
  

  <section class="all_Instructor_container" *ngIf="isAdmin">

  

    <div class="card_container">
        <div class="card mycard" *ngFor="let instruc of all_instructor; let i = index">
            <img src="{{instruc.gender == 'MALE'? '../../assets/placeholder-profile-male.webp':'../../assets/women_placeholder.png'}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{instruc.name}}</h5>
              <h6>Qualification: {{instruc.qualification !== null ? instruc.qualification : 'Null'}}</h6>
              <h6>Expertise: {{instruc.expertise !== '' ? instruc.expertise : 'JAVA'}}</h6>
              <h6>Gender: {{instruc.gender}}</h6>
              <h6>Phone: {{instruc.contactNumber}}</h6>
              <h6>Email: {{instruc.email}}</h6>
             
              <div class="edit_delete_div">
                <a (click)="edit_instruc(instruc.id)" class="btn btn-primary">Edit</a>
                <a (click)="delete_instruc(instruc.id)" class="btn btn-secondary">Delete</a>
              </div>

            </div>
        </div>

       
    </div>
  </section>
  
  
  