
<section class="login_body">
    <div class="wrapper">
        <form  (ngSubmit)="lectureSubmit()" [formGroup]="lectureData">
          <h2>Create Lecture</h2>
          <div class="input-field">
            <label for="">Course</label>
            <select name="lecture_course_name" id="lecture_course_name" formControlName="course" (change)="selectedCourse($event)" required>
              
              <option *ngFor="let item of course_options" [value]="item.value">{{item.text}}</option>
              
            </select>
           
            
          </div>
          <div class="input-field">
            <label for="">instructor</label>
            
            <select name="lecture_instructor_name" id="lecture_instructor_name" formControlName="instructor" required>
              
              <option *ngFor="let item of instructor_options" [value]="item.value">{{item.text}}</option>
              
            </select>
           
          </div>

          <div class="input-field">
            <input type="text" formControlName="topicTitle" value="prem kmar" required>
            <label>Lecture title</label>
          </div>
            
          <div class="input-field">
            <input type="datetime-local"  class="form-control" formControlName="timing" required>
            <!-- <label >Lecture Timing</label> -->
          </div>
         
          <div class="input-field">
            <input type="url" formControlName="meetingUrl" required>
            <label>Lecture Meeting url</label>
          </div>

          
         
          <button type="submit">Save</button>
          
        </form>
      </div>
</section>

<div class="previous_lecture_container">
  <div class="lecture_item" *ngFor="let lecture of lecture_list">
      <h5>{{lecture.topic_title}}</h5>
      <p>{{lecture.timing}}</p>
      <div> 
        <p>{{lecture.meeting_url}}</p>
        <a (click)="deleteLecture(lecture.id)">Delete</a>
      </div>
  </div>
</div>




